.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  align-items:center ;
}
.logo {
  height: 50px;
  width: 100px;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
}
.nav-items > ul > li{
    padding: 10px;
  }